html, body{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./image\ \(3\).png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:top;
}
header {
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    background-color: #85cdf5;
    padding: 0.2%;
    top: 0;
    z-index: 100;
}
.header {
    width: 20%;
}
#lobinho {
    justify-self: center;
}
h2 {
    font-family: 'Darker Grotesque', sans-serif;
    padding-top: 0;
    margin-top: 0;
}
.primeira {
    width: 50%;
    position: relative;
    color: white;
    text-align: center;
    margin:auto;
    padding-top: 8%;
    padding-bottom: 8%;
}
p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 15pt;
}
.primeira h2 {
    font-size: 50pt;
}
.segunda {
    width: 100%;
    color: white;
    text-align: center;
    background-color: #2c567f;
    padding-top: 0%;
    padding-bottom: 3%;
}
h3 {
    font-size: 30pt;
    font-family: 'Darker Grotesque', sans-serif;
    color: #deb959;
    margin-top: 0;
    margin-bottom: 2%;
    padding-top: 3%;
    text-align: center;
}
#sobre {
    width: 60%;
    position: relative;
    margin: 0;
    padding: 0;
    margin: auto;
    padding-bottom: 2%;
}
.terceira {
    background-color: #333333;
    padding-bottom: 3%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img {
    display: flex;
    background-color: white;
    border-radius: 100%;
    margin: auto;
}
#img2 {
    background-image: url(./care.svg);
    background-color: white;
    height: 50%;
    border-radius: 100%;
}
h4 {
    font-size: 25pt;
    font-family: 'Darker Grotesque', sans-serif;
    color:white;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: auto;
    text-align: center;
}
.item {
    max-width: 200px;
}
.trecho {
    color: white;
    width: 90%;
    text-align: center;
    margin: auto;
}
.quarta {
    background-color: white;
    padding-bottom: 3%;
}
.container2 {
    display: flex;
    flex-direction: column;

}
.item2 {
    display: flex;
    padding-bottom: 5%;
}
.componentes {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.componentes2 {
    width: 50%;
    display: flex;
    position: relative;
}
.retimagem {
    width: 328px;
    height: 218.5px;
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translatex(-50%) translatey(-50%);
    background-image: url(./image\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    z-index: 2;
}
.retimagem2 {
    width: 328px;
    height: 218.5px;
    position: absolute;
    left: 40%;
    top: 60%;
    transform: translatex(-50%) translatey(-50%);
    background-image: url(./image\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    z-index: 2;
}
.retangulo {
    width: 328px;
    height: 218.5px;
    background-color: #2c567f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translatey(-50%);
    border-width: medium;
    border-style: solid;
    border-color: #333333;
    z-index: 1;
}
.texto{
    width: 30%;
    line-height: 1em;
    padding-right: 17%;
    padding-left: 3%;
    padding-top: 3%;
}
.texto2 {
    width: 30%;
    text-align: right;
    line-height: 1em;
    padding-left: 17%;
    padding-right: 3%;
    padding-top: 3%;
}
.divisao {
    width: 100%;
    height: 10px;
    background-color: violet;
    background-image: linear-gradient(to right, #deb959 , #305880);
}
footer {
    background-color: #333333;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
}
.rodape1 {
    display: flex;
    align-items: center;
}
.rodtxt {
    color: white;
    font-size: 12pt;
}
.conttxt{
    margin-left: 3%;
    width: 50%;
}
#endereco {
    margin-top: 0;
}
#quemsomos {
    font-size: 20pt;
    background-color: #deb959;
    width: 37%;
    color: #333333;
    margin-bottom: 0;
    margin-top: 0;
}
.logo{
    text-align: center;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    .item2 {
      flex-direction: column;
      align-content: center;
    }
    .texto{
        width: 400px;
        text-align: center;
        line-height: 1em;
        padding-top: 40%;
    }
    .texto2 {
        width: 400px;
        text-align: center;
        line-height: 1em;
        padding-bottom: 30%;
    }
    .retangulo {
        width: 328px;
        height: 218.5px;
        background-color: #2c567f;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translatex(-50%) translatey(-50%);
        border-width: medium;
        border-style: solid;
        border-color: #333333;
        z-index: 1;
    }
    h3 {
        padding-bottom: 30%;
    }
    .container2 {
        padding-bottom: 30%;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
